@import "fonts.css";

:root {
  --navbar-height: 56px;
}

body {
  padding-top: var(--navbar-height);

  display: flex;
  flex-direction: column;

  font-family: "MarkGEO-Regular";
}

.jumbotron-block {
  min-height: calc(100vh - var(--navbar-height));
  flex-grow: 1;
  background-image: url("https://picsum.photos/1920/1080");
  background-size: cover;
}

.jumbotron-block__body {
  background-color: rgba(255, 255, 255, .75);
}

.indent {
  text-indent: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn {
  font-family: "MarkGEOCAPSBold";
}

.navbar {
  font-family: "MarkGEOCAPSLight";
}

.navbar-brand {
  font-family: "MarkGEOBold";
}

.section-block {
  margin-top: 1rem;
}

#products {
  min-height: 100vh;
}

.section-block__title {
  margin-top: calc(var(--navbar-height) + 1rem);
  margin-bottom: 1rem;
}

.section-block__content {
  margin-bottom: 1.5rem;
}

.footer-block {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--light);
  background-color: var(--dark);
}
